.legend{
    position: fixed;
    width: 250px;
    min-height: 500px;
    padding-left: 15px;
    top: 0;
    left: 0;
    transform: translateY(90px);
}
.top-left{
    position: fixed;
    left: 0;
    top: 0;
    height: 75px;
    padding: 10px;
}
.top-right{
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    height: 100px;
}