.legend{
    position: fixed;
    min-width: 23vw;
    padding-left: 15px;
    bottom: 0;
    left: 0;
    transform: translateY(-20px);
    pointer-events: none;
}
.top-left{
    position: fixed;
    left: 0;
    top: 0;
    height: 75px;
    padding: 10px;
}
.top-right{
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    height: 100px;
    pointer-events: none;
}